@import url(http://fonts.googleapis.com/css?family=Lobster);
 @import url(http://fonts.googleapis.com/css?family=Lato);
 .entypo-user:before {
     content: "\1f464"
 }
 
 .entypo-users:before {
     content: "\1f465"
 }
 
 .entypo-user-add:before {
     content: "\e700"
 }
 
 .entypo-cancel:before {
     content: "\2715"
 }
 
 .entypo-cancel-circled:before {
     content: "\2716"
 }
 
 .entypo-cancel-squared:before {
     content: "\274e"
 }
 
 .entypo-lock:before {
     content: "\1f512"
 }
 
 .entypo-lock-open:before {
     content: "\1f513"
 }
 
 #login * {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: 'Lato', Arial, Helvetica, sans-serif;
     vertical-align: baseline;
     line-height: normal;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 #login label {
     cursor: pointer;
 }
 
 #login input[type="checkbox"],
 #login input[type="radio"] {
     display: none;
     visibility: hidden;
     opacity: 0;
 }
 
 #login a {
     text-decoration: none;
     color: #333;
 }
 
 #login {
     width: 480px;
     position: absolute;
     top: 5%;
     left: 0;
     right: 0;
     margin: 0 auto;
     z-index: 10;
 }
 
 #login-popup {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
     opacity: 0;
     visibility: hidden;
     z-index: -1;
 }
 
 #login-popup:target {
     opacity: 1;
     visibility: visible;
     z-index: 99999;
     overflow: auto;
 }
 
 #login .login-form {
     background: #fff;
     position: relative;
     width: 100%;
     height: auto;
     float: left;
     padding: 40px;
     -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
     -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
     box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
     -webkit-transform: translate3d(0, 0, 0);
     -webkit-backface-visibility: hidden;
 }
 
 #login-popup a.close-overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     content: "";
     z-index: 0;
 }
 
 #login .title {
     font-family: 'Lobster', cursive;
     font-weight: normal;
     font-size: 32px;
     color: #333;
     line-height: normal;
     display: inline-block;
     float: left;
 }
 
 #login p.intro {
     font-size: 12px;
     line-height: 16px;
     display: block;
     color: #bbb;
     margin: 20px 0;
     float: left;
     clear: both;
     width: 100%;
 }
 
 #login p.intro b {
     color: #FF2424;
 }
 
 #login p.tick-text {
     font-size: 10px;
     color: #999;
     display: inline-block;
     float: left;
     margin: 8px 0 0 10px;
 }
 
 #login span.login-tip {
     width: auto;
     height: auto;
     white-space: nowrap;
     padding: 10px;
     font-size: 10px;
     text-align: center;
     color: #fff;
     background: #333;
     position: absolute;
     opacity: 0;
     visibility: hidden;
     z-index: -1;
 }
 
 #login span.login-tip.right {
     right: -30px;
     bottom: 36px;
     background: #fff;
     color: #222;
 }
 
 #login span.login-tip.left {
     left: 20px;
     top: -44px;
 }
 
 #login span.login-tip:before {
     content: "";
     position: absolute;
     bottom: -6px;
     width: 0;
     height: 0;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-top: 6px solid rgba(51, 51, 51, 1);
 }
 
 #login span.login-tip.right:before {
     right: 30px;
     margin-left: -10px;
 }
 
 #login span.login-tip.right:before {
     border-top: 6px solid rgba(255, 255, 255, 1);
 }
 
 #login span.login-tip.left:before {
     left: 20px;
     margin-right: -10px;
 }
 
 #login input:focus ~ .login-tip,
 #login .sb a:hover span.login-tip {
     opacity: 1;
     visibility: visible;
     z-index: 9999;
 }
 
 #login input:required:valid ~ .login-tip {
     opacity: 0;
     visibility: hidden;
     z-index: -1;
 }
 
 #login .sb {
     position: absolute;
     top: 0;
     right: 40px;
     z-index: 999;
 }
 
 #login .sb a {
     background: #ddd;
     color: #fff;
     font-size: 11px;
     text-align: center;
     display: inline-block;
     margin-left: 1px;
     position: relative;
     width: 24px;
     height: 24px;
     line-height: 24px;
 }
 
 #login .sb a.close-top {
     background: #FF2424;
     margin-left: 20px;
 }
 
 #login .sb a.close-top:hover {
     background: #333;
 }
 
 #login .field {
     position: relative;
     width: 100%;
     clear: both;
     float: left;
     margin-bottom: 20px;
 }
 
 #login .field span.icon {
     position: absolute;
     top: 0;
     left: 0;
     color: #fff;
     background: #ddd;
     font-size: 16px;
     line-height: 40px;
     text-align: center;
     width: 38px;
     height: 100%;
 }
 
 #login .field input {
     padding: 12px 20px 10px 50px;
     width: 100%;
     float: left;
     color: #333;
     font-size: 12px;
     border: solid 1px #ddd;
 }
 
 #login .field > input:hover,
 #login .field > input:focus {
     border: solid 1px #333;
     outline: none;
 }
 
 #login input:hover ~ span.icon,
 #login input:focus ~ span.icon {
     outline: none;
     background: #333;
 }
 
 #login .field input:required {
     background: #fff no-repeat 100% 15px;
     outline: none;
     box-shadow: none;
 }
 
 #login .field input:hover:invalid {
     background: #fff no-repeat 100% 15px;
     outline: none;
     box-shadow: none;
 }
 
 #login .field input:required:valid {
     background: #fff no-repeat 100% 15px;
     outline: none;
     box-shadow: none;
 }
 
 #login .field input:focus:invalid {
     background: #fff no-repeat 100% 15px;
     outline: none;
     box-shadow: none;
 }
 
 #login input.send {
     display: inline-block;
     background: #FF2424;
     text-transform: uppercase;
     text-align: center;
     font-size: 12px;
     color: #fff;
     width: auto;
     padding: 6px 28px;
     border: none;
     outline: none;
     float: right;
     clear: none;
 }
 
 #login input.send:hover,
 #login input.send:focus {
     border: none;
     outline: none;
     background: #333;
     cursor: pointer;
 }
 
 #login label.tick {
     width: auto;
     position: relative;
     display: inline-block;
     float: left;
 }
 
 #login label.tick:before {
     position: absolute;
     display: inline-block;
     content: "";
     width: 16px;
     height: 16px;
     background: #fff;
     border: solid 2px #ddd;
 }
 
 #login label.tick:after {
     opacity: 0;
     visibility: hidden;
     content: "";
     position: absolute;
     width: 8px;
     height: 4px;
     background: transparent;
     top: 6px;
     left: 5px;
     border: 2px solid #333;
     border-top: none;
     border-right: none;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }
 
 #login input:checked + label.tick:after {
     opacity: 1;
     visibility: visible;
 }
 
 #login label.tick span {
     font-size: 11px;
     color: #999;
     padding-left: 26px;
 }
 
 #login label.tick:hover span {
     color: #333;
 }
 
 #login a,
 #login-popup,
 #login label,
 #login input,
 #login span.login-tip,
 #login input ~ span.icon {
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -ms-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
 }